*{
    padding: 0px;
    margin: 0px;
}
.form{
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 50px 40px;
    background-color: #fff;
    margin-left: 30px;
    margin-right:40px;
    margin: 20px;
}
.lname{
    margin-left: 603px;
    margin-top: -451px;
    
}
.formbtn{
    width: 483px;
    border: 1px solid #ced4da;
    border-radius: 2px;
    height: 33px;
    color: rgb(132, 125, 125);
    padding: 7px;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    background-color:white ;
    padding: 10px;
    /* box-shadow: 5px 5px whitesmoke; */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.query em{
    color: rgb(255, 218, 91);
}
.fname{
    margin-left: 30px;
}
.comment textarea{
    width: 1058px;
    border: 1px solid #ced4da;
    border-radius: 2px;
    height: 133px;
    color: rgb(132, 125, 125);
    padding: 7px;
    font-weight: bold;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    margin-left: 29px;
    padding: 10px;
    /* box-shadow: 5px 5px whitesmoke; */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.startdate{
    font-family: 'Poppins', sans-serif; 
    color: rgb(132, 125, 125);
    font-weight: bold;
    font-size: 13px;
    width: 483px;
    border: 1px solid #ced4da;
    height: 33px;
    padding: 10px;
    /* box-shadow: 5px 5px whitesmoke; */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 2px;
}
.enddate{
    font-family: 'Poppins', sans-serif; 
    color: rgb(132, 125, 125);
    font-weight: bold;
    font-size: 13px; 
    width: 483px;
    border: 1px solid #ced4da;
    height: 33px;
    padding: 10px;
    /* box-shadow: 5px 5px whitesmoke; */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border-radius: 2px;
    
}
.sendbtn{
    text-align: center;
    margin-top: 34px;
}
.book:hover{
    color: white;
    background-color: orangered;
    border: 2px solid orangered;
    opacity: 0.8;
}
.book{
    height: 58px;
    width: 221px;
    border: 2px solid red;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.formcontent h2{
    text-align: center;
    font-size: 40px;
}

.formbtn:focus{
    color: #666565;
    background-color: #fff;
    border-color: #ffd08b;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(254,161,22,0.25);

}
.startdate:focus{
    color: #666565;
    background-color: #fff;
    border-color: #ffd08b;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(254,161,22,0.25);

}
.enddate:focus{
    color: #666565;
    background-color: #fff;
    border-color: #ffd08b;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(254,161,22,0.25);

}
.comment textarea:focus {
    color: #666565;
    background-color: #fff;
    border-color: #ffd08b;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(254,161,22,0.25);

  }